body {
    background: #d8ffc4; /* CUSTOMIZE */
    font-family: helvetica, arial, verdana;
    padding: 0;
    margin: 0;
}

.rect {
    border: 1px solid #d80000;  /* CUSTOMIZE */
    background: #fff;  /* CUSTOMIZE */
}

.overlay{
    background:rgba(178,0,0,0.5); /* CUSTOMIZE */
}

.header-banner {
    background-image: url(../img/trattoria.jpg); /* CUSTOMIZE */
    height: 100px; /* CUSTOMIZE */
}

.selector {
    background-color: #ace0b5;  /* CUSTOMIZE */
}
.selector .count {
    color: #d80000;  /* CUSTOMIZE */
}

.selector:hover {
    background-color: #9befa9;  /* CUSTOMIZE */
}

.selector.selected {
    background-color: red;  /* CUSTOMIZE */
}
.selector.selected .count, .selector.selected .label {
    color: white;  /* CUSTOMIZE */
}

.label {
    color: #555;  /* CUSTOMIZE */
    font-size: 12px;
}

.title {
    color: #d80000;  /* CUSTOMIZE */
}

.tab .picture {
    border: 1px solid #007a16;  /* CUSTOMIZE */
}