body {
    background: #E7EBF2; /* CUSTOMIZE */
    font-family: helvetica, arial, verdana;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.clearB {
    clear: both;
}
.floatL {
    float: left;
}
.floatR {
    float: right;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.text-small {
    font-size: 0.9em;
}

.wrapper {

    margin: 0 auto;
    text-align: center;
}

.rect {
    border: 1px solid #c4cde0;  /* CUSTOMIZE */
    border-radius: 3px;
    background: #fff;  /* CUSTOMIZE */
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    text-align: left;
}

.overlay{
    background:rgba(169,181,211,0.7); /* CUSTOMIZE */
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.header-banner {
    background-image: url(../img/icn-pic.png); /* CUSTOMIZE */
    height: 100px; /* CUSTOMIZE */
}

#selectors {
    width: 770px;
}

.selector {
    float: left;
    width: 206px;
    padding: 10px 20px;
    background-color: #F2F4F8;  /* CUSTOMIZE */
    margin: 0px 5px;
    color: #8897BD;
    cursor: pointer;
}

.selector > img {
    margin-right: 20px;
}

.selector .count {
    color: #8897BD;  /* CUSTOMIZE */
    font-weight: bold;
    font-size: 22px;
}

.selector:hover {
    background-color: #E8EBF3;  /* CUSTOMIZE */
}

.selector.selected {
    background-color: #6D84B4;  /* CUSTOMIZE */
}
.selector.selected .count, .selector.selected .label {
    color: white;  /* CUSTOMIZE */
}

.label {
    color: #555;  /* CUSTOMIZE */
    font-size: 12px;
}

.title {
    color: #3B5998;  /* CUSTOMIZE */
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.5em;
}

.tab-title {
    text-align: center;
    padding: 4px;
}

.tab .picture, .tab .picture img {
    width: 186px;
    height: 186px;
}

.tab .picture {
    float: left;
    border: 1px solid #CCC;  /* CUSTOMIZE */
    margin: 2px;
    cursor: pointer;
}

.tab .album {
    float: left;
    width: 232px;
    height: 232px;
    text-align: center;
    margin: 12px;
    cursor: pointer;
}

.tab .album img {
    width: 196px;
    height: 196px;
    margin-bottom: 8px;
}

.load_more {
    text-align: center;
    padding: 25px 0;
    clear: both;
}

.load_more a {
    padding: 15px;
    cursor: pointer;
}

#picture_preview {
    width: 530px;
    position:fixed;
    top:-500px;
    left:0;
    right:0;
    box-shadow: 0 1px 5px #333;
    z-index:101;
    display: none;
    margin: 0 auto;
}

#large_picture_src {
    width: 530px;
    height: 400px;
}

#large_picture_src:hover + div {
    display: block;
}

.img-control-wrapper {
    margin-top: -250px;
    position: absolute;
    display: none;
}

.img-control {
    background-color: rgba(0,0,0,.5);
    padding: 30px;
    color: white;
    text-align: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.img-control.previous {
    float: left;
}

.img-control.next {
    float: right;
    margin-left: 310px;
}

.img-close-preview {
    background: rgba(0, 0, 0, .5);
    margin-top: -400px;
    position: absolute;
    padding: 5px;
    right: 10px;
    cursor: pointer;
}